{
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"es6": true
	},
	"rules": {
		"no-mixed-spaces-and-tabs": [2, "smart-tabs"],
		"quotes": [2, "single"],
		"valid-jsdoc": [2, {
			"prefer": {
				"return": "return"
			},
			"requireParamDescription": false,
			"requireReturn": false
		}]
	}
}
